<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">College Departments</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <!-- add CollegeDepartment button -->
                <a class="nav-link" (click)="onOpenModal(null, 'add')">Add College Department <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input type="search" (ngModelChange)="search(key.value)" #key="ngModel" ngModel name="key" id="searchName"
                class="form-control mr-sm-2" placeholder="Search employees..." required>
        </form>
    </div>
</nav>

<!--  Show data-->
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let collegeDepartment of collegeDepartments" class="col-md-6 col-xl-3">
            <div (click)="onSelect(collegeDepartment)" class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5> {{collegeDepartment?.id}}</h5>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i><strong> College Name :
                        </strong>{{collegeDepartment?.college.collegeName | titlecase}}</li>
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i><strong> Department Name :
                        </strong>{{collegeDepartment?.department.departmentName}}</li>
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i><strong> Status : </strong>
                        <span *ngIf="collegeDepartment?.status;else passive ">
                            Active
                        </span>
                        <ng-template #passive>
                            Passive
                        </ng-template>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <!-- edit CollegeDepartment button-->
                        <a (click)="onOpenModal(collegeDepartment, 'edit')" class="btn btn-primary tooltips"
                            data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <!-- delete CollegeDepartment button -->
                        <a (click)="onOpenModal(collegeDepartment, 'delete')" class="btn btn-secondary tooltips"
                            data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add CollegeDepartment Modal -->
    <div class="modal fade" id="addCollegeDepartmentModal" tabindex="-1" role="dialog"
        aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #addForm="ngForm" (ngSubmit)="onAddCollegeDepartment(addForm)">
                        <div class="form-group">
                            <label for="Id">Id</label>
                            <input type="text" ngModel name="id" class="form-control" id="id"
                                placeholder="CollegeDepartment Id" required>
                        </div>

                        <!-- college -->
                        <div class="form-group">
                            <label for="college">Kind</label>
                            <select [ngModel]="selectedCollege" name="college" id="college" class="form-control">
                                <option *ngFor="let college of colleges" [ngValue]="college">{{college.collegeName}}
                                </option>
                            </select>
                        </div>
                        <!-- department -->
                        <div class="form-group">
                            <label for="department">District</label>
                            <select [ngModel]="selectedDepartment" name="department" id="department"
                                class="form-control">
                                <option *ngFor="let department of departments" [ngValue]="department">
                                    {{department.departmentName}}</option>
                            </select>
                        </div>
                        <!-- openning date -->
                        <div class="form-group">
                            <label for="openingDate">Opening Date</label>
                            <input type="date" ngModel name="openingDate" class="form-control" id="openingDate"
                                required>
                        </div>
                        <!-- status -->
                        <div class="form-group">
                            <input type="radio" ngModel name="status" class="form-control" id="status" value="true"
                                selected>
                            <label for="status">Active</label>
                            <input type="radio" ngModel name="status" class="form-control" id="status" value="false">
                            <label for="status">Passive</label>
                        </div>

                        <div class="modal-footer">
                            <button type="button" id="add-CollegeDepartment-form" class="btn btn-secondary"
                                data-dismiss="modal">Close</button>
                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save
                                changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="updateCollegeDepartmentModal" tabindex="-1" role="dialog"
        aria-labelledby="employeeEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateEmployeeModalLabel">Edit CollegeDepartment
                        {{editCollegeDepartment?.college.collegeName}}
                        {{editCollegeDepartment?.department.departmentName}}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #editForm="ngForm">
                        <h5>Id: {{editCollegeDepartment?.id}}</h5>
                        <input type="hidden" ngModel="{{editCollegeDepartment?.id}}" name="id" class="form-control"
                            id="id">
                        <!-- College -->
                        <div class="form-group">
                            <label for="college">College Name</label>
                            <select [ngModel]="selectedCollege" name="college" id="college" class="form-control"
                                required>
                                <option *ngFor="let college of colleges" [ngValue]="college"
                                    [selected]="college.collegeName == editCollegeDepartment?.college.collegeName">
                                    {{college.collegeName}}</option>
                            </select>
                        </div>
                        <!-- department -->
                        <div class="form-group">
                            <label for="department">Department</label>
                            <select [ngModel]="selectedDepartment" name="department" id="department"
                                class="form-control" required="">
                                <option *ngFor="let department of departments" [ngValue]="department"
                                    [selected]="department.departmentName == editCollegeDepartment?.department.departmentName">
                                    {{department.departmentName}}</option>
                            </select>
                        </div>

                        <!-- Opening date -->
                        <div class="form-group">
                            <label for="CollegeDepartmentName">Create Date</label>
                            <input type="date" ngModel="{{editCollegeDepartment?.openingDate}}" name="createDate"
                                class="form-control" id="createDate" aria-describedby="emailHelp" required>
                        </div>

                        <!-- status -->
                        <div class="form-group">
                            <input #active type="radio" ngModel name="status" class="form-control" id="status"
                                value="true" required>
                            <label for="status">Active</label>
                            <input #passive type="radio" ngModel name="status" class="form-control" id="status"
                                value="false" required>
                            <label for="status">Passive</label>
                        </div>

                        <div class="modal-footer">
                            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                            <button (click)="onUpdateCollegeDepartment(editForm.value)" data-dismiss="modal"
                                class="btn btn-primary">Save
                                changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Delete Modal -->
    <div class="modal fade" id="deleteCollegeDepartmentModal" tabindex="-1" role="dialog"
        aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete employee {{deleteCollegeDepartment?.department.departmentName}}?
                    </p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button (click)="onDeleteCollegeDepartment(deleteCollegeDepartment?.id)" class="btn btn-danger"
                            data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="collegeDepartments?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">NO CollegeDepartment!</h4>
        <p>No CollegeDepartment were found.</p>
    </div>
</div>