<div class="main">
</div>
<nav class="header">

        <a href="/">Home</a>

    <h3>Meslek Yüksek Okul</h3>
</nav>
<div class="nav-side">
    <ul>
        <!-- citye & district -->
        <li>
            <a routerLinkActive="active" routerLink="/cities">Cities <i class="fa fa-caret-down"></i> </a>
            <ul>
                <li>
                    <a routerLinkActive="active" routerLink="/districts">Districts</a>
                </li>
            </ul>
        </li>
        <!-- college -->
        <li>
            <a routerLinkActive="active" routerLink="/colleges">Colleges <i class="fa fa-caret-down"></i></a>
            <ul>
                <li>
                    <a routerLinkActive="active" routerLink="/colleges/department">Departments <i class="fa fa-caret-down"></i></a>
                    <ul>
                        <li>
                            <a routerLinkActive="active" routerLink="/colleges/department/employee">Employees <i class="fa fa-caret-down"></i></a>
                            <ul>
                                <li>
                                    <a routerLinkActive="active"
                                        routerLink="/colleges/department/employees/teach/subject">Subjects</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a routerLinkActive="active" routerLink="/colleges/department/subject">Subjects</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/colleges/employee">Employees</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/departments">Departments <i class="fa fa-caret-down"></i></a>
            <ul>
                <li>
                    <a routerLinkActive="active" routerLink="/departments/students">Students</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/employees">Employees</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/expertises">Expertises</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/kinds">Kinds</a>
        </li>
        <!-- Students & student take subject -->
        <li>
            <a routerLinkActive="active" routerLink="/students">Students <i class="fa fa-caret-down"></i></a>
            <ul>
                <li><a routerLinkActive="active" routerLink="/students/take/subject">Take Subjects</a></li>
            </ul>
        </li>
        <!-- subjects -->
        <li>
            <a routerLinkActive="active" routerLink="/subjects">Subjects</a>
        </li>
        <!-- tasks -->
        <li>
            <a routerLinkActive="active" routerLink="/tasks">Tasks</a>
        </li>
        <!-- terms -->
        <li>
            <a routerLinkActive="active" routerLink="/terms">Terms</a>
        </li>
        <!-- titles -->
        <li>
            <a routerLinkActive="active" routerLink="/titles">Titles</a>
        </li>
    </ul>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>