<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Student Take Subjects</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <!-- add StudentsTakeSubject button -->
                <a class="nav-link" (click)="onOpenModal(null, 'add')">Add StudentsTakeSubject <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input type="search" (ngModelChange)="search(key.value)" #key="ngModel" ngModel name="key" id="searchName"
                class="form-control mr-sm-2" placeholder="Search employees..." required>
        </form>
    </div>
</nav>

<!--  -->
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let studentsTakeSubject of studentsTakeSubjects" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5> Id - {{studentsTakeSubject?.id}} </h5>
                        <h5> Student T.C Id - {{studentsTakeSubject?.studentNo.tcNo.id | titlecase}} </h5>
                        <h5> Student Name - {{studentsTakeSubject?.studentNo.tcNo.name | titlecase}} </h5>
                        <h5> Student Name - {{studentsTakeSubject?.studentNo.tcNo.surname | titlecase}} </h5>
                        <h5> Student No - {{studentsTakeSubject?.subject.subjectName | titlecase}} </h5>
                        <h5> Term - {{studentsTakeSubject?.term.term | titlecase}} </h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <!-- edit StudentsTakeSubject button-->
                        <a (click)="onOpenModal(studentsTakeSubject, 'edit')" class="btn btn-primary tooltips" data-placement="top"
                            data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                            <!-- delete StudentsTakeSubject button -->
                        <a (click)="onOpenModal(studentsTakeSubject, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
                            data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Employee Modal -->
    <div class="modal fade" id="addStudentsTakeSubjectModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
       aria-hidden="true">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddStudentsTakeSubject(addForm)" >

                  <div class="form-group">
                      <label for="id">id</label>
                      <input type="text" ngModel name="id" class="form-control" id="id" placeholder="Name" required>
                   </div>
                   <div class="form-group">
                      <label for="Id">Students</label>
                      <select *ngFor="let student of departmentStudents" name="id" id="id">
                        <option value="{{student.tcNo.id}}">{{student.tcNo.name}}</option>
                      </select>
                   </div>
                   <div class="form-group">
                      <label for="Id">Subject</label>
                      <select *ngFor="let subject of subjects" name="id" id="id">
                        <option value="{{subject.id}}">{{subject.name}}</option>
                      </select>
                   </div>

                   <div class="form-group">
                      <label for="StudentsTakeSubject">Name</label>
                      <input type="text" ngModel name="StudentsTakeSubject" class="form-control" id="StudentsTakeSubject" placeholder="Name" required>
                   </div>
                   
                   <div class="modal-footer">
                      <button type="button" id="add-StudentsTakeSubject-form" class="btn btn-secondary"
                         data-dismiss="modal">Close</button>
                      <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="updateStudentsTakeSubjectModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel"
       aria-hidden="true">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title" id="updateEmployeeModalLabel">Edit StudentsTakeSubject {{editStudentsTakeSubject?.id}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="modal-body">
                <form #editForm="ngForm">
                   <div class="form-group">
                      <label for="StudentsTakeSubject">Name</label>
                      <input type="text" ngModel="{{editStudentsTakeSubject?.id}}" name="StudentsTakeSubject" class="form-control" id="StudentsTakeSubject"
                         aria-describedby="emailHelp" placeholder="Name">
                   </div>
                   <input type="hidden" ngModel="{{editStudentsTakeSubject?.id}}" name="id" class="form-control" id="id"
                      placeholder="Email">
                   
                   <div class="modal-footer">
                      <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                      <button (click)="onUpdateStudentsTakeSubject(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
                         changes</button>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteStudentsTakeSubjectModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
       aria-hidden="true">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="modal-body">
                <p>Are you sure you want to delete employee {{deleteStudentsTakeSubject?.id}}?</p>
                <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                   <button (click)="onDeleteStudentsTakeSubject(deleteStudentsTakeSubject?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

    <!-- Notification for no employees -->
    <div *ngIf="studentsTakeSubjects?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
       <h4 class="alert-heading">NO StudentsTakeSubject!</h4>
       <p>No StudentsTakeSubject were found.</p>
    </div>
 </div>